<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="Footer" th:fragment="footer">
  <div class="wrap">
    <div class="row Footer-main">
      <div class="row-block"
           th:replace="~{fragments/footer_left_side_info_block_fragment :: block}"></div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" href="/index.html" th:text="#{topbar.main}" th:href="@{/}">Главная</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/genres/index.html" th:text="#{topbar.genres}" th:href="@{/genres}">Жанры</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/books/recent.html" th:text="#{topbar.news}" th:href="@{/books/recent}">Новинки</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/books/popular.html" th:text="#{topbar.popular}" th:href="@{/books/popular}">Популярное</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/authorEntities/index.html" th:text="#{topbar.authorEntities}" th:href="@{/authorEntities}">Авторы</a>
          </li>
        </ul>
      </div>
      <div class="row-block">
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" href="/signin.html" th:text="#{topbar.signIn}">Войти</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/documents/index.html" th:text="#{topbar.documents}">Документы</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/about.html" th:text="#{topbar.about}">О компании</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/faq.html" th:text="#{topbar.faq}">Помощь</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="/contacts.html" th:text="#{topbar.contacts}">Контакты</a>
          </li>
        </ul>
        <p>
          <span>Выбор языка</span>
          <select id="locales">
            <option value=" "></option>
            <option value="en">English</option>
            <option value="ru">Русский</option>
          </select>
        </p>
      </div>
    </div>
  </div>
  <div class="Footer-copy">
    <div class="wrap">© 2021 Bookshop Pty Ltd. ALL RIGHTS RESERVED
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script defer src="/assets/js/scripts.min.js?v=64223515"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#locales").change(function () {
        var selectedoption = $("#locales").val();
        if(selectedoption !== ''){
          window.location.replace('?lang=' + selectedoption);
        }
      })
    })
  </script>
</footer>
</html>